@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import "config";
* {
  font-family: 'Roboto', sans-serif;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 0.6em 1.5em;
  text-decoration: none;
  box-sizing: border-box;
  color: #fff;
  border-radius: 100px;
  background: linear-gradient(left top, $blue, $bright-blue);
  &:hover {
    background: $blue;
  }
  &:active {
    background: $dark-blue;
  }
  &:not(first-child) {
    margin-left: 10px;
  }
}